
<h1>Ajout des Produits</h1>

<div class="form-group">
  <label>Product Name</label>
  <input type="text" [(ngModel)]="name" class="form-control">
</div>

<div class="form-group">
  <label>Product Category</label>
  <input type="text" [(ngModel)]="categorie" class="form-control">
</div>

<div class="form-group">
  <label>Product Reference</label>
  <input type="text" [(ngModel)]="reference" class="form-control">
</div>

<div class="form-group">
  <label>Product Price</label>
  <input type="text" [(ngModel)]="prix" class="form-control">
</div>

<div class="form-group">
  <label>Product Owner</label>
  <input type="text" [(ngModel)]="user" class="form-control">
</div>

<button class="btn btn-primary" (click)="addProduct()">Ajout Produit</button>